- model_class = User
div class="page-header"
  h1=t 'links.edit_account_settings', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
= render :partial => "form"
