.filetype {
    background-repeat: no-repeat;
    background-position: center;
    background-image:url(_blank.png);
}

.png {
    background-image:url(png.png);
}

.jpg {
    background-image:url(jpg.png);
}

.jpeg {
    background-image:url(jpg.png);
}

.gif {
    background-image:url(gif.png);
}

.x-rar-compressed, .x-rar {
    background-image:url(rar.png);
}

.pdf {
    background-image:url(pdf.png);
}

.aac, .x-aac {
    background-image:url(aac.png);
}

.postscript {
    background-image:url(ai.png);
}

.x-aiff {
    background-image:url(aiff.png);
}

.x-msvideo {
    background-image:url(avi.png);
}

.bmp {
    background-image:url(bmp.png);
}

.cpp {
    background-image:url(cpp.png);
}

.css {
    background-image:url(css.png);
}

.dat {
    background-image:url(dat.png);
}

.dmg {
    background-image:url(dmg.png);
}

.msword, .vnd_openxmlformats-officedocument_wordprocessingml_document {
    background-image:url(doc.png);
}

.vnd_openxmlformats-officedocument_wordprocessingml_template {
    background-image:url(dotx.png);
}

.vnd_dwg {
    background-image:url(dwg.png);
}

.vnd_dxf {
    background-image:url(dxf.png);
}

.eps {
    background-image:url(eps.png);
}

.octet-stream {
    background-image:url(exe.png);
}

.x-flv {
    background-image:url(flv.png);
}

.gif {
    background-image:url(gif.png);
}

.x-c {
    background-image:url(c.png);
}

.h {
    background-image:url(h.png);
}

.hpp {
    background-image:url(hpp.png);
}

.html {
    background-image:url(html.png);
}

.ics {
    background-image:url(ics.png);
}

.iso {
    background-image:url(iso.png);
}

.java {
    background-image:url(java.png);
}

.key {
    background-image:url(key.png);
}

.midi {
    background-image:url(mid.png);
}

.mp3 {
    background-image:url(mp3.png);
}

.mp4 {
    background-image:url(mp4.png);
}

.mpeg {
    background-image:url(mp3.png);
}

.mpg {
    background-image:url(mpg.png);
}

.vnd_oasi_opendocument_formula {
    background-image:url(odf.png);
}

.vnd_oasis_opendocument_spreadsheet {
    background-image:url(ods.png);
}

.vnd_oasis_opendocument_text {
    background-image:url(odt.png);
}

.vnd_oasis_opendocument_presentation-template {
    background-image:url(otp.png);
}

.vnd_oasis_opendocument_spreadsheet-template {
    background-image:url(ots.png);
}

.vnd_oasis_opendocument_text-template {
    background-image:url(ott.png);
}

.php {
    background-image:url(php.png);
}

.vnd_ms-powerpoint, .vnd_openxmlformats-officedocument_presentationml_presentation {
    background-image:url(ppt.png);
}

.vnd_adobe_photoshop, .x-photoshop {
    background-image:url(psd.png);
}

.py {
    background-image:url(py.png);
}

.quicktime {
    background-image:url(qt.png);
}

.rar {
    background-image:url(rar.png);
}

.rb {
    background-image:url(rb.png);
}

.rtf {
    background-image:url(rtf.png);
}

.sql {
    background-image:url(sql.png);
}

.tga {
    background-image:url(tga.png);
}

.tgz {
    background-image:url(tgz.png);
}

.tiff {
    background-image:url(tiff.png);
}

.txt, .plain {
    background-image:url(txt.png);
}

.wav, .x-wav {
    background-image:url(wav.png);
}

.xls, .vnd_ms-excel {
    background-image:url(xls.png);
}

.vnd_openxmlformats-officedocument_spreadsheetml_sheet {
    background-image:url(xlsx.png);
}

.xml {
    background-image:url(xml.png);
}

.yml {
    background-image:url(yml.png);
}

.zip {
    background-image:url(zip.png);
}